html * {
        padding: 0;
        margin: 0;
}

body
{
        background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 85%;
}

p,td
{
    font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}

th
{
    text-align: left;
}

pre
{
    font-family:"Courier New", Courier, mono;
    font-size: 1em;
    background-color: #BAD4FF;
    border: thin solid #02007F;
    padding: 3pt;
    width: auto;
}

.panel
{
    font-size: .85em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.code
{
	font-family:"Courier New", Courier, mono;
    font-size: 1em;
}

a:link
{
	color: #003390;
    /* text-decoration: none; */
}

a:visited
{
    color: #808080;
}

a.learnmore:link, a.learnmore:visited {
      font-size: 0.75em;
}

a.newsdate {
    color: #808080;
}

a.newsalliance {
    color: #ff6633;
    font-weight: bold;
}

a.newspartners {
    color: #003390;
}

a.newsmedia {
    color: #003390;
    font-style: italic;
}

a:hover
{
/* 	text-decoration: underline; */
    /* font-weight: bold; */
    /* color: #6699ff; */
}

a.header, a.header:visited
{
    color: #6699FF;
} 

h1
{
    color: #FF4221;
    font-size: 1.4em;
}

h2
{
    color: #6699FF;
    font-size: 1.2em;
}

h3
{
    color: #000000;
    font-size: 1.0em;
}

h4
{
    color: #000000;
    font-size: 1.1em;
}

h5
{
    color: #FF4221;
    font-size: 1.2em;
}

table {
     border: 0px none #ffffff;
     margin-top: 0.25em;
     margin-bottom: 0.5em;
     margin-left: 0em;
     margin-right: 1em; 
}

table.boxed {
     border: 1px solid #000000;
}

table.navbartable {
     margin-top: 0em;
}

table.news {
     border: 0px none #ffffff;
     margin-top: 0em;
     margin-bottom: 0em;
     margin-left: 0em;
     margin-right: 0em;
}

th,td {
     vertical-align: top;
     text-align: left;
     padding-top: 0.33em;
     padding-bottom: 0.33em;
     padding-left: 0.33em;
     padding-right: 0.33em;
}

table.news th, table.news td {
     vertical-align: top;
     text-align: left;
     padding-top: 0em;
     padding-bottom: 0em;
     padding-left: 0em;
     padding-right: 0.5em;
}

table.projects th {
    background: #606060;
    color: #ffffff;
    border: 1pm solid #000000;
    font-weight: bold;
}

table.projects td {
    border: 1pm solid #000000;
    font-size: 0.90em;
}

table.navbartable th {
    color: #000000;
    text-align: left;
    vertical-align: middle;
    font-size: .85em;
    font-weight: normal;
    padding-left: 1.5em;
}

table.navbartable td {
    text-align: right;
    vertical-align: middle;
}

.title
{
    color: #FF4221;
    font-weight: bold;
}

.section {
	color: #000000;
	font-weight: bold;
}

.first {
	margin-top: 0;
}

.last {
	margin-bottom: 0;
}

.comment {
    background: #ffff00;
}

.clearing {
  height: 0;
  clear: both;
}

#header {
  padding: 0;
}

#headerlinks {
     float: right;
     width: 100px;
}

#menu {
	margin : 0px 0px 0px 0px;
	line-height: 2em;
	background-color: #0058b4;
	padding : 2px 0;
}


#menu li	{
	display : inline;
	list-style-type : none;
	padding-left: 1em;
}

#menu a:link, #menu a:visited	{
	background-color : transparent;
	color: #fff;
	text-decoration : none;
	padding: .55em;	
}


#menu a:hover, #menu a:focus 	{
	background-color: #99ccff;
	color: #003390;
}

	
body.section-1 #menu li#nav-1 a, 
body.section-2 #menu li#nav-2 a,
body.section-3 #menu li#nav-3 a,
body.section-4 #menu li#nav-4 a,
body.section-5 #menu li#nav-5 a,
body.section-6 #menu li#nav-6 a,
body.section-7 #menu li#nav-7 a {
	font-weight: normal;
	background-color:#6699FF;
	line-height: 1.4em;
	border-style:none;
	color: #fff;
/*	padding: .5em 1em; */
	padding: .52em; 
}


#outer_wrapper {
  background: url(../img/background_2_white.gif) repeat-y left;
  margin: 0;
  padding: 0
}
#wrapper {
  background: url(../img/background_2_white.gif) repeat-y right;
  margin: 0;
  padding: 0
}

#container {
  width: 100%;
  float: left;
/*   margin-right: -200px; */
  background: url(../img/background_2_white.gif) repeat-y right;
}

#content {
/*	margin-right: 200px;  */
	background: url(../img/background_2_white.gif) repeat-y left;
}

#left {
  width: 165px;
  float: right;
  font-size: .75em; 
  font-weight: bold;
  text-align: left;
  line-height: 14px;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#left p, #left h1, #left h2 { 
	margin: 10px 10px 10px 10px;
}


#left ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#left li {
	background-image: url(../img/right_arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-left: 2.2em;
	margin: 1em 0;
}

#left ul ul li { 
	margin: 0 0 1em 0; 
}

#coverimage {
  /* background: #e0e0e0; */
  width: 280px;
  float: right;
  font-size: 0.75em;
  font-weight: normal;
  font-color: #000040;
  text-align: left;
  line-height: 14px;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#coverimage p, #coverimage h1, #coverimage h2 {
	margin: 0 10px 1em 10px;
}

#main {
  margin-top: -10px;
  margin-left: 15px;
  margin-right: 15px;
}

#main p, #main h1, #main h2, #main h3, #main h4, #main h5, #main dl { 
	margin: 1em 0 1em 0;
}

#main blockquote {
        margin: 1em 0 1em 2.5em;
}

#main li {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2.2em;
        margin-right: 0;
}

#sidebar {
	width: 200px;
	float: right;
}

#sidebar ul {
	list-style-type: none;
	}

#sidebar p, h1, h2, h3, h4, h5 { 
	margin: 0 17px 15px 0; 
}

#footer {
	clear: both;
	text-align: center;
        margin: 1em 0 1em 0;
}

#footer p, #footer h1, #footer h2, #footer h3, #footer ul {
        margin: 1em 0 1em 0;
}
	
.sidebar {
	color: #003390;
	font-weight: bold;
}

#solutions-sidebar {
        background: #e0e0e0; 
        color: #000000;
        width: 200px;
        margin-top: 0px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
}

#solutions-sidebar h2 {
        padding-top: 0.5em;
	padding-left: 0.5em;
	margin: 0;
}

#solutions-sidebar ul {
	list-style-type: none;
	padding-left: 0.5em;
	margin: 0;
}

#solutions-sidebar li {
	background-image: url(../img/right_arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 .3em;
	padding-left: 2.5em;
	margin: 1em 0;
        font-size: .75em; 
        font-weight: bold;
        text-align: left;
        line-height: 10px;
}

td.tablekey {
        font-weight: bold;
}

#home {
  margin-top: -10px;
  margin-left: 15px;
  margin-right: 15px;
}

#home p, #home h1, #home h2, #home h3, #home h4 { 
	margin: 1em 0 1em 0;
}

#home ul {
        list-style-type: none;
        margin: 10px 10px 10px 0px;
}

#home li {
        background-image: url(../img/right_arrow.gif);
        background-repeat: no-repeat;
        background-position: 0em 0.3em;
        padding-left: 2.2em;
        padding-right: 0;
        margin: 0.33em 0 0 0;
}

#home li ul {
        margin: 0;
        padding: 0;
        }

#home ul ul li { 
        margin: 3px 0px; 
        padding-right: 0;
}

#home dl dd {
        font-size: .95em;
        }

#home dl {
        margin-top: 0px;
        }

#home dt {
        font-weight: normal;
        }

#home dd {
        margin-left: 10px;
        margin-bottom: 5px;
        font-weight: normal;
        }

