
body
{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica;
}

.panel
{
    font-size: .85em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.code
{
	font-family:"Courier New", Courier, mono;
    font-size: 1em;
}


.clearing {
  height: 0;
  clear: both;
}


#menu {
	margin : 0;
	padding-bottom : 1.6em;
       background-color: #0058b4;
#        background-color: #ff4422;
	padding-left : 10px;

}

#menu ul, #menu li	{
	display : inline;
	list-style-type : none;
	margin : 0;
	padding : 0;
}


	
#menu a:link, #menu a:visited	{
	background : #0058b4;
#	background : #ff4422;
	border : 1px solid #0058b4;
#	border : 1px solid #ff4422;
	color : white;
	float : left;
	font-size : small;
	font-weight : normal;
	margin-right : 8px;
	padding : 0px 10px 0px 10px;
	text-decoration : none;
}

#menu a:link.active, #menu a:visited.active	{
font-weight: bold;
}

#menu a:hover, #menu a:focus 	{
background-color: #9CD4F7;
color: black;
}

	
body.section-1 #menu li#nav-1 a, 
body.section-2 #menu li#nav-2 a,
body.section-3 #menu li#nav-3 a,
body.section-4 #menu li#nav-4 a,
body.section-5 #menu li#nav-5 a,
body.section-6 #menu li#nav-6 a,
body.section-7 #menu li#nav-7 a {
	font-weight: bold;
	background-color:#D0D0FF;
	line-height: 1.5em;
	border-style:none;
	color: #0058b4;
}



#outer_wrapper {
  background: url(../img/background_2_white.gif) repeat-y left;

}
#wrapper {
  background: url(../img/background_2_white.gif) repeat-y right;
}

#container {
  width: 100%;
  float: left;
  margin-right: -200px;
  background: url(../img/background_2_white.gif) repeat-y right;
}

#content {
	margin-right: 20px;
	background: url(../img/background_2_white.gif) repeat-y left;
}

#left {
  background-image: url(../img/grids-stripedBackground.gif);
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  width: 170px;
  height: 100%;
  float: left;
  font-size: .75em; 
  text-align: left;
  line-height: 14px;
  margin-top: 0px;
  margin-left: 4px;
  margin-right: 0.25px;
  margin-bottom: 5px;
  font-weight: bold;
}

#left p, #left h1, #left h2 { 
	margin: 10px 10px 10px 10px;
}


#left ul {
        list-style-image: url(../img/grids-arrowRight.gif);
        list-style-type: square;
        list-style-position: inside;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
        border-width: 0 0 0 0;
        border-style: none;
}

#left li {
        background-color: #0a54a3;
        /* background-image: url(../img/grids-arrowRight.gif);
        background-repeat: no-repeat; */
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
	padding-top: 0.4em;
	padding-left: 0.6em;
	padding-right: 0.8em;
	padding-bottom: 0.4em;
	margin: 1.5em 1.45em 0em 0.9em; /* top right bottom left */
        border-width: 0 0 0 0;
        border-style: none;
}

#left li a:link, #left li a:visited {
        color: #ffffff;
        text-decoration: none;
}

#left ul ul {
        list-style-image: none;
        list-style-type: none;
        list-style-position: outside;
        padding: 0 0 0 0;
        margin: 0em 0em 0em 0em;
        border-width: 0 0 0 0;
        border-style: none;
}

#left ul ul li { 
        background-image: none;
        background-color: #ffffff;
        color: #0a54a3;
        font-size: 11px;
        font-weight: normal;
        line-height: 100%;
	padding-top: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.0em;
	padding-bottom: 0.5em;
/* 	margin: 1.75em 1.5em 0em 1em;    top right bottom left */
        margin: 0 1.5em 0 1em;  
        border-width: 0 0 0 0;
        border-style: none;
}

#left ul ul li a:link, #left ul ul li a:visited {
        color: #0a54a3;
        text-decoration: none;
}

#left ul ul li a:hover {
        color: #0a54a3;
        text-decoration: underline;
}


#home,#main {
  padding-top: 10px;
  padding-left: 0px;
  margin-left: 190px;
        width: 595px;
}

#home p, #main p, #home h1, #main h1, #home h2, #main h2, #home h3, #main h3, #home h4, #main h4, #home h5, #main h5 { 
	margin: 0 17px 15px 0;
}

#main p, #home p, #main ul, #home ul, #main ol, #home ol, #main blockquote, #home blockquote {
        font-family: Arial, Helvetica;
        color: #000000; 
        font-size: 13px; 
        line-height: 16px;
}

#main h1, #home h1 {
        color: #0a54a3; 
        font-weight: bold; 
        font-size: 13pt; 
        line-height: 13pt; 
        font-family: Verdana, Arial, Helvetica;
}

#main a, #home a {
        text-decoration: none;
}

#main a:link, #home a:link, #main a:visited, #home a:visited {
        text-decoration: underline;
}

#main p strong, #home p strong, #main h2, #home h2 {
        color: #0a54a3; 
        font-weight: bold; 
        font-size: 11pt; 
        line-height: 13pt; 
        font-family: Verdana, Arial, Helvetica;
}

#sidebar {
	width: 200px;
	float: right;
}
#sidebar ul {
	list-style-type: none;
	}

#sidebar p, h1, h2, h3, h4, h5 { 
	margin: 0 17px 15px 0; 
}

#footer {
        background-color: #ccccc5;
	margin: 0 17px 5px 0; 
        padding-top: 1px;
        padding-bottom: 1px;
        margin-left: 190px;
        width: 595px;
	clear: both;
	text-align: center;
        font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        font-size: x-small;
}
	
.sidebar {
	color: #003390;
	font-weight: bold;
}
