@charset "UTF-8";
/* CSS Document */

#splash
{
	height: 242px;
	overflow: hidden;
	background:  #649bd3 url('../img/header/splash_bg.jpg') no-repeat;
	margin-left:0px;
}

#headline
{
	width: 996px;
	height: 242px;
	margin-left: auto;
	margin-right:auto;
	margin-top: 0px;
}

#headline p
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: white;
	width: 400px;
	margin-top: 65px;
	float: left;
}

.highlight
{
	color: #efca49;
}

#headline a
{
	color: #efca49;
	text-decoration: none;
}

#news
{
	
	width: 440px;
	height: 222px;
	margin-left: 480px;
	background: url('../img/header/headline_news_bg.png');
	padding: 10px;
}

#news h2
{
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
	font-size:24px;
	color: #efca49;
	font-weight: normal;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
}

#news .newsdate
{
	color:#dddddd;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight: normal;
	display: block;
}

#news strong
{
	color: #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	font-weight: bold;
}	

#news a:link
{
	color: #efca49;
	font-size: 11px;
	margin-bottom: 0px;
	display:block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#news a:hover
{
	color: #efca49;
	font-size: 11px;
	margin-bottom: 0px;
	display:block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
#news a:visited
{
	color: #efca49;
	font-size: 11px;
	margin-bottom: 0px;
	display:block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#outer_wrapper
{
	margin-top: 15px;
	padding-bottom: 35px;
}

.more
{
	display: block;
}

#content_right h2
{
	font-size: 24px;
	margin: 0 0 10px 0;
}

#content_right p
{
	font-size: 12px;
	margin-bottom: 15px;
}