@charset "UTF-8";
/* CSS Document */

html * {
        padding: 0;
        margin: 0;
}

body
{
    background-color: #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

#header
{
	background: #fff url('../img/header/navbar_bg.png') top right repeat-y;
	color: #333;
	width: 996px;
	height: 85px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	vertical-align:middle;
	z-index: -30px;
}

#header #logo
{
	margin-left: 0px;
	float: left;
}

#header ul#menu
{
	display : inline;
	list-style-type : none;
	float: left;
	margin-top: 30px;
	line-height: 30px;
	margin-left: 335px;
}

#header ul#menu li
{
	display:inline;
	margin-right: 0px;
	overflow:hidden;
}

#header ul#menu li div
{
	float:left;
	margin: 0;
	padding: 0;
	background: none;
	height: 22px;	
}

#header ul#menu li.here div.nav_left
{
	background-position:top left;
	width: 13px;
	background-image:url('../img/header/nav_selected_left.png');

	line-height: 22px;
	font-size:22px;
}

div.nav_center
{
	line-height: 22px;
	font-size:22px;
	height: 22px;

}

#header ul#menu li div.nav_right
{
	margin-right: 15px;
}

#header ul#menu li.here div.nav_center
{	
	background: url('../img/header/nav_selected_center.png') top repeat-x;
}

#header ul#menu li.here div.nav_right
{
	background-image:url('../img/header/nav_selected_right.png');
	background-position:top left;
	line-height: 22px;
	font-size:22px;	
	width: 13px;
}

#header ul#menu li a
{
	text-decoration: none;
	color:#333;
	font-size: 14px;
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
}

#header ul#menu li.here a
{
	color: #fff;
}