@charset "UTF-8";
/* CSS Document */

#outer_wrapper {
padding-left: 10px;
}

#subnav_bar
{
	width: 100%;
	background:url('../img/int/subnav_bg.png');
	height: 35px;
}

#subnav
{
	width: 996px;
	margin-left:auto;
	margin-right: auto;
	height: 35px;
	z-index:25;
}

#subnav ul
{
	display : inline;
	list-style-type : none;
	float: right;
	margin-top: 0px;
	line-height: 35px;
	margin-right: 0px;
}

#subnav ul li
{
	display:inline;
	margin-right: 5px;
	overflow:hidden;
}

#subnav ul li a
{
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
	padding:0 5px;
}

#subnav ul li.here a
{
	color:#ffda6a;
}

#content_left
{
	width: 550px;
	font-size: 12px;
	margin-bottom: 5px;		
}

#content_right
{
	width: 370px;
	margin-left: 70px;
}

#content_right h2
{
	border-top:3px solid #2b629d;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#content li, #content dt,  #content dd {
	margin-left: 20px;
}

#content dt {
font-weight: bold;
}

#content td {
padding: 5px;
}

div.toc dt, div.toc dd {
    margin-left: 20px;
}

p
{
	margin-top: 10px;
	margin-bottom: 10px;
}
#home h4
{
	width: auto;
	display: inline;
	font-size: 14px;
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
	font-weight:normal;
}

#home ul
{
	width: 220px;
}

#home li
{
	margin-left: 20px;
	list-style-type:circle;
	
}

#home table, td
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#pagename
{
	height: 80px;
	overflow: hidden;
	background:  #649bd3 url('../img/int/pagename_bg.png') no-repeat;
	margin-left:0px;
	z-index:-1;
	position:absolute;
	top: 94px;
	width: 100%;
}

h1.first, #content > h1:first-child, h1.minisite, #main > h1:first-child
{
	color: #fff;
	margin-top:10px;
	margin-bottom: 55px;
	font-weight: normal;
}

.subhome_cell
{
	display: inline;
	width: 240px;
	float: left;
	margin-top: 20px;
	margin-bottom: 10px;
}

.subhome_cell h4
{
	width: auto;
	display: inline;
	font-size: 14px;
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
	font-weight:normal;
	margin-top: 30px;
	color:#fb8201;
}

.subhome_cell ul
{
	width: 220px;
}

.subhome_cell li
{
	margin-left: 20px;
	list-style-type:circle;
	
}

.navheader,
#content > div.set,
#content > div.chapter, 
#content > div.book, 
#docbookContent
{
	margin-top: 110px;
}

#docbookContent
{
	margin-left: 180px;
}


#content_sidebar
{
	float: right; 
	width: 200px;
	margin-left: 15px;
	height: 100%;
	margin-bottom: 100px;
	border-left: 1px solid #ddd;
	padding-left: 40px;
}

#content_sidebar p
{
	margin-left: 5px;
	font-size: 11px;
	margin-bottom: 20px;
	color: #333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.4em;
}

#content_sidebar a, #content_sidebar a:visited
{
	display: block;
	width: 180px;
	color: #649bd3;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
	
}

#content_sidebar ul
{
	margin-left: -5px;
	font-size: 11px;
	margin-bottom: 20px;
	color: #333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.4em;
    list-style: none;
}

#content_sidebar h4
{
	margin-left: 15px;
	font-size: 11px;
    margin-top: 10px;
	margin-bottom: 5px;
	color: #333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.4em;

}


#leftbg
{
	float: left;
	width: 180px;
}

h2.smalltitle
{
	padding-top: 0px;
	margin-top: 0px;
}

h2.news a 
{
    font-size: .8em;
}

dl.leftColumn
{
	margin-bottom: 10px;
}

h3, h4, h5, h6
{
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
	color:#333;
	font-weight:normal;
	margin-top: .8em;
        margin-bottom: .8em;
        line-height: 1.1em;
}
    

/* for docbook pages */


div.set h1.title, div.book h1.title, div.chapter h2.title {
	color: #fff;
	margin-top: -100px;
	margin-bottom: 55px;
    font-size: 24px;
	font-weight: normal;
}

div.article h2.title
{
	color: #fff;
	margin-top:10px;
	margin-bottom: 55px;
    font-size: 24px;
	font-weight: normal;
}

div.set h2.title, div.section h2.title, div.glossary h2.title, div.book div.chapter h2.title, div.reference h1.title, div.part h1.title
{
	font-size: 18px;
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
	color:#fb8201;
	font-weight:normal;
	margin-top: .8em;
    margin-bottom: 0px;
}

#docbook_content_sidebar
{
	float: right; 
	width: 200px;
    margin-top: 60px;
    padding-top: 25px;
	margin-left: 10px;
	height: 100%;
	margin-bottom: 100px;
	/*border-left: 1px solid #ddd;*/
	padding-left: 30px;
}

#content ul {
    margin-bottom: 12px;
}

div.informaltable table td, div.table table td {
    vertical-align: top;
    padding: 7px;
}

#docbook_content_sidebar dd {
padding-left: 15px;
}

pre.screen {
margin-bottom: 1em;
}

#docbook_drafts{
position: absolute;
margin-top: 55px;
font-weight: bold;
}