body{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background: white;
}

#tree-cell{
  vertical-align: middle;
}

#header{
  text-align: center;
  padding-top: 3px;
  padding-left: 10px;
  padding-bottom: 3px;
  padding-right: 10px;
  font-weight: bold;
  background-color: #DDDDDD;
}

#value{
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

#percents{
  font-size: 80%;
  color: grey;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

#even{
  background-color: #EEEEEE;
}

#footer{
  font-size: 80%;
  text-align: right;
  padding-top: 20px;
}