php_value auto_prepend_file ""
php_value auto_append_file ""
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off

RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html

AddDefaultCharset ISO-8859-1
AddCharset ISO-8859-1 .html .php .htm