body {
  font-family: arial, sans-serif;
  background-color: white;
  font-weight: normal;
  font-size: 12pt;
  padding-left: 10px;
}

p {
  line-height: 140%;
}

/* For general examples given within tutorials (not code or XML). */
p.example {
  padding-left: 40pt;
}

ul {
  line-height: 140%;
}

ol {
  line-height: 140%;
}

h1 {
  color: #336699;
  font-weight: normal;
  font-size: 160%;
}

h2 {
  color: #0099CC;
  font-weight: normal;
  font-size: 120%;
}

h2.index {
  padding: 0.25em;
  line-style:outside;
  border-style: groove;
  border-wdith: thick blue;
  background-color: #ddddee;
}

h3 {
  font-weight: bold;
  font-size: medium;
}

pre {
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  white-space: pre;
  font-family: monospace;
  background-color: #eeeeee;
  padding-left: 5px;
  padding-right: 5px;
}

div.figure {
  font-weight: bold;
  text-align: center;
}

div.note {
  background-color: #ffffcc;
  font-size: 100%;
  color: 222211;
}

p.footer {
  font-size: 10pt;
}

table.footer {
  font-size: 10pt;
}

pre.java {
}

pre.xml {
}

pre.css {
}

pre.commandline {
}

span.portType {
  font-weight: bold;
}

span.guilabel {
  font-weight: bold;
}

span.guicommand {
  font-weight: bold;
  font-style: italic;
}

span.guishortcut {
  font-weight: bold;
  font-style: italic;
}

span.guientry {
  font-family: courier new;
}

span.java {
  font-family: courier new;
}

span.activity {
  font-family: courier new;
}

span.comment {
  font-family: courier new;
  color: #009900;
}

span.xml {
  font-family: courier new;
}

span.sql {
  font-family: courier new;
}

span.css {
  font-family: courier new;
}

span.important {
  font-weight: bold;
}

span.commandline {
  font-family: courier new;
}

tt {
  font-weight: normal;
  font-size: 100%;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a.link {
  color: blue
  font-weight: bold;
  text-decoration: none;
}

a.visited {
  color: purple
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}


dd a {
   color: #CC0033;
   font-weight: normal;
   text-decoration: none;
}

.blank {
  font-style: normal;
  font-weight: bold;
  color: #009933;
}

/*=== TABLE STYLES ===*/

/*--- Styles for information tables within content of page. ---*/

/* Apply this to each table element */
table.info
{
  border-collapse: collapse;
}

/* Apply this to each th element */
th.info
{
  font-weight: bold;
  background: #BBBBBB;
  border:1px solid #000000;
  vertical-align: top;
  text-align: left;
}

/* Apply this to each normal td element */
td.info
{
  font-size: 80%;
  font-family: arial, sans-serif;
  padding: 3px;
  border:1px solid #000000;
  vertical-align: top;
}

/* Apply this to sub-heading row td elements */
td.sub
{
  font-size: 80%;
  font-family: arial, sans-serif;
  font-weight: bold;
  padding: 3px;
  border:1px solid #000000;
  background: #eeeeee;
}

/* Applications of this style should be replaced with "sub" */
td.heading
{
  font-weight: bold;
  background: #eeeeee;
}